<div class="d-flex">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur nulla, quas quod facere quis deserunt? Quae ipsam molestias facere magni corporis necessitatibus nobis ea accusantium delectus. Vero, excepturi eos.
      </div>
    </div>

  </div>

</div>
